body {
  font-family: Arial, Helvetica, sans-serif;
}

/* DESKTOP*/
.desktop {
  display: none;
}

/* HEADER ///////////  */
header {
  height: auto;
  padding: 10px;
  color: white;
  background-color: #071c2e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* NAV ///////////  */
header nav ul {
  display: flex;
  flex-direction: row;
}
header .item {
  padding-right: 5px;
}

/* LOGO ///////////  */
header .logo-britannica {
  width: auto;
  height: 15px;
}

/* BTN ///////////  */
header .btn-right {
  display: flex;
  align-items: center;
}
header button {
  background-color: #963100;
  color: white;
  padding: 5px 5px;
  border-radius: 6px;
  font-size: 0.7rem;
}
/* ICON */
header .icon-chevron,
header .icon-user {
  font-size: 10px;
}
header .icon-bar,
header .icon-glass {
  font-size: 14px;
}

/* /////////////////MEDIAQUERIES */

@media (min-width: 760px) {
  .desktop {
    display: block;
  }
  .item.mobile {
    display: none;
  }
  .mobile {
    display: none;
  }
  nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav a.item,
  div.item {
    padding-right: 30px;
  }
  .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
  }
  .btn-right {
    display: flex;
    flex-direction: row-reverse;
  }
  header button {
    font-size: 1rem;
  }
}

/* MAIN /////////// */
main {
  padding: 8px 20px;
  border: 1px solid blue;
}

/* CRUMBS */
nav.crumbs {
  padding-bottom: 10px;
}
main nav .crumb {
  display: inline-block;
  font-size: 0.7rem;
  color: #0a2b48;
}
main .crumb a::after {
  display: inline-block;
  color: #071c2e;
  content: ">";
  font-size: 0.7rem;
  padding: 0 15px;
}
/* ARTICLE */
article {
  max-width: 900px;
  font-family: "Times New Roman", Times, serif;
}
article h1 {
  font-size: 1.7rem;
  font-weight: bold;
}
article h2 {
  font-size: 1rem;
  padding-bottom: 5px;
}
article button {
  color: #16568f;
  border: 1px solid lightgrey;
  padding: 8px 9px;
  margin-right: 5px;
  border-radius: 6px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
article .container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article a {
  color: #16568f;
}
article .info {
  font-size: 1rem;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

article .italic {
  font-style: italic;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}

article p {
  font-size: 1rem;
  line-height: 1.5rem;
}

article .pills {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  background-color: lightsalmon;
  width: auto;
  border-radius: 20px;
  padding: 0px 5px;
  font-size: 0.7rem;
}
article img {
  width: 100%;
  height: auto;
}
article figure {
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
}
div .article-btn{
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}
.info.desktop {
  display: none;
}
article .audio-player {
  box-shadow: 0px 1px 5px 0px rgba(230, 230, 230, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(230, 230, 230, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(230, 230, 230, 0.75);
}
article section {
  border: 1px solid lightgrey;
  padding: 20px;
}
article .bold {
  font-weight: bold;
}
article .dotted {
  border-bottom: 2px dotted #16568f;
}

.bio {
  font-family: Arial, Helvetica, sans-serif;
}

/* MEDIAQUERIES */
@media (min-width: 760px) {
  article .container-flex {
    display: flex;
    flex-direction: column;
  }
  .info.mobile {
    display: none;
  }
}
