/* HEADER */
header {
  height: auto;
  padding: 10px;
  color: white;
  background-color: #071c2e;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* NAV /////////// */
nav ul {
  display: flex;
  flex-direction: row;
}
.item {
  padding-right: 5px;
}
/* LOGO */
.logo-britannica {
  width: auto;
  height: 15px;
}

/* BTN /////////// */
header .btn-right {
  display: flex;
  align-items: center;
}
header button {
  background-color: #963100;
  color: white;
  padding: 5px 5px;
  border-radius: 6px;
  font-size: 0.7rem;
}
/* ICONE */
.icon-chevron,
.icon-user {
  font-size: 10px;
}
.icon-bar,
.icon-glass {
  font-size: 14px;
}
/* DESKTOP */
.desktop {
  display: none;
}

/* /////////////////MEDIAQUERIES */

@media (min-width: 760px) {
  .desktop {
    display: block;
  }
  .item.mobile {
    display: none;
  }
  nav li {
    display: flex;
    flex-direction: row;
    align-items: center
  }
  nav a.item,
  div.item {
    padding-right: 30px;
  }
  .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px
  }
  .btn-right{
    display: flex;
    flex-direction: row-reverse
  }
  header button {
    font-size: 1rem;
  }

}
